@if (info(); as paginationInfo) {
  <ul class="pagination">
    <li class="page-item xs-hide" [ngClass]="{ disabled: currentPage() === 1 }">
      <a
        class="page-link"
        (click)="emitPage(1)"
        (keydown.enter)="emitPage(1)"
        data-cy="p-first"
        tabindex="0"
        >First</a
      >
    </li>
    <li class="page-item" [class.disabled]="!paginationInfo.prev">
      <span
        class="page-link"
        (click)="emitPage(currentPage() - 1)"
        (keydown.enter)="emitPage(currentPage() - 1)"
        data-cy="p-prev"
        tabindex="1"
        >Prev</span
      >
    </li>
    <li class="page-item active">
      <a class="page-link" data-cy="p-number" tabindex="2"
        >{{ currentPage() }} of {{ paginationInfo.pages }}</a
      >
    </li>
    <li class="page-item" [class.disabled]="!paginationInfo.next">
      <a
        class="page-link"
        (click)="emitPage(currentPage() + 1)"
        (keydown.enter)="emitPage(currentPage() + 1)"
        data-cy="p-next"
        tabindex="3"
        >Next</a
      >
    </li>
    <li
      class="page-item xs-hide"
      [ngClass]="{ disabled: currentPage() === paginationInfo.pages }"
    >
      <a
        class="page-link"
        (click)="emitPage(paginationInfo.pages)"
        (keydown.enter)="emitPage(paginationInfo.pages)"
        data-cy="p-last"
        tabindex="4"
        >Last</a
      >
    </li>
  </ul>
}
