

<ul class="pagination">
  <li class="page-item xs-hide" [ngClass]="{disabled:currentIndex === 1}">
    <a class="page-link" (click)="emitPage(1)">First</a>
  </li>
  <li class="page-item" [class.disabled]="!info.prev">
    <span class="page-link" (click)="emitPage(currentIndex - 1)">Previous</span>
  </li>
  <li class="page-item active">
    <a class="page-link">{{ currentIndex }} of {{info.pages}}</a>
  </li>
  <li class="page-item" [class.disabled]="!info.next">
    <a class="page-link" (click)="emitPage(currentIndex + 1)">Next</a>
  </li>
  <li class="page-item xs-hide" [ngClass]="{disabled:currentIndex === info.pages}">
    <a class="page-link" (click)="emitPage(info.pages)">Last</a>
  </li>
</ul>
