<div class="detail-card" data-cy="detail-card">
  <img
    [src]="char.image"
    alt="Character Image"
    class="detail-card__image"
    loading="lazy"
  />
  <div class="detail-card__details">
    @for (item of char | keyvalue; track $index) {
      @if (
        item.key !== "location" &&
        item.key !== "origin" &&
        item.key !== "episode" &&
        item.key !== "image" &&
        item.value
      ) {
        <div>
          <strong>{{ item.key }}:</strong> {{ item.value }}
        </div>
      }
    }

    <div><strong>Location:</strong> {{ char.location.name }}</div>
    <div><strong>Origin:</strong> {{ char.origin.name }}</div>
  </div>
</div>
