$color1: #ff3366
$color2: #ff6600
$color3: #ffcc00

body
  background: linear-gradient(to bottom, $color1, $color2, $color3)
  position: relative
  min-height: 100vh



@keyframes fade-in
  from
    opacity: 0

@keyframes fade-out
  to
    opacity: 0

@keyframes slide-from-right
  from
    transform: translateX(30px)

@keyframes slide-to-left
  to
    transform: translateX(-30px)

::view-transition-old(root)
  animation: 700ms cubic-bezier(0.4, 0, 1, 1) both fade-out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left

::view-transition-new(root)
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right


