@if (store.charactersResponse()) {
  <app-filters></app-filters>
  <app-shared-pagination [info]="store.info()"></app-shared-pagination>

  @if (store.error()) {
    <app-shared-no-results></app-shared-no-results>
  } @else {
    <app-character-list [characters]="store.characters()"></app-character-list>
  }
} @else {
  <section class="filters">
    <app-shared-filter-name-skeleton></app-shared-filter-name-skeleton>
    <app-shared-filter-name-skeleton></app-shared-filter-name-skeleton>
  </section>
  <app-card-skeleton></app-card-skeleton>
}
