@defer (when charactersResponse) {
  <section class="filters">
    <app-shared-filter-name></app-shared-filter-name>
    <app-shared-pagination
      [info]="charactersResponse.info"
    ></app-shared-pagination>
  </section>

  @if (noResult) {
    <app-shared-no-results></app-shared-no-results>
  } @else {
    <app-character-list
      [characters]="charactersResponse.results"
    ></app-character-list>
  }
} @placeholder (minimum 2000ms) {
  <section class="filters">
    <app-shared-filter-name-skeleton></app-shared-filter-name-skeleton>
    <app-shared-filter-name-skeleton></app-shared-filter-name-skeleton>
  </section>
  <app-card-skeleton></app-card-skeleton>
}
