
@defer(when charactersResponse) {
  <section class="filters">
    <app-filter-name
      (valueChange)="filterByName($event)"
    ></app-filter-name>
    <app-pagination
      [info]="charactersResponse.info"
      (pagination)="onPagination($event)"
    ></app-pagination>
  </section>

  @if (noResult) {
    <section class="no-results">
      No results, try other names!
    </section>
  } @else {
    <app-character-list [chars]="charactersResponse.results"></app-character-list>
  }

} @placeholder(minimum 1500ms) {
  <app-loader></app-loader>
}



